---
// Import the necessary components
import MainLayout from "../../layouts/MainLayout.astro";
import HeroSection from "../../components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "../../components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "../../components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "../../components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "../../components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "../../components/sections/testimonials/TestimonialsSection.astro";
import FAQ from "../../components/sections/misc/FAQ.astro";
import heroImage from "../../images/hero-tanques.avif";
import { getFaqs, getFeatures, partnersData } from "@data";
import featureImage from "../../images/tanques.avif";
import construction from "../../images/card1.avif";
import tools from "../../images/card2.avif";
import dashboard from "../../images/card3.avif";
import { getRelativeLocaleUrl } from "astro:i18n";

const faqs = getFaqs('es');
const features = getFeatures('es');

---

<MainLayout lang="es">

  <HeroSection
    title=`Tank Global<span
        class="text-blue-500 dark:text-blue-400"> Solutions</span>`
    subTitle="Solving all your tank needs. Más de 20 años brindando soluciones confiables e innovadoras para el manejo de tanques ISO. Somos tu aliado estratégico para operaciones, ventas, arrendamiento y consultoría especializada."
    primaryBtn="Empieza a explorar"
    primaryBtnURL={getRelativeLocaleUrl("es", "services")}
    secondaryBtn="Contactenos"
    secondaryBtnURL={getRelativeLocaleUrl("es", "contact")}
    src={heroImage}
    alt="Tanques ISO de Tank Global Solutions"
  />

  <ClientsSection
    title="Con la confianza de los líderes de la industria"
    subTitle="Descubra la confiabilidad elegida por los gigantes de la industria."
    partners={partnersData }
  />

  <FeaturesGeneral
    title="Nuestra Filosofía"
    subTitle="En Tank Global Solutions, estamos comprometidos con aportar valor real a nuestros clientes a través de soluciones de tanques ISO diseñadas con precisión, eficiencia y visión a futuro. Nuestra misión es simple: convertirnos en la fuente de referencia de soluciones especializadas que superen expectativas y garanticen tranquilidad."
    src={featureImage}
    alt="products in floating boxes"
    features={features}
  />

  <FeaturesNavs
    title=`Personaliza las soluciones de  <span class="text-blue-500 dark:text-blue-400">Tank Global Solutions </span>para adaptarlas perfectamente a tus necesidades logísticas y de proyectos con tanques ISO.`
    tabs={[
      {
        heading: "Experiencia Especializada",
        content:
          "Confía en más de 20 años de experiencia en soluciones con tanques ISO. Nuestro equipo experto garantiza precisión, cumplimiento y eficiencia en cada proyecto.",
        svg: "tools",
        src: tools,
        alt: "Equipo especializado trabajando con tanques ISO",
        first: true,
      },
      {
        heading: "Gestión Inteligente de Proyectos",
        content:
          "Mantén el control con nuestros flujos de trabajo eficientes y la gestión proactiva de flotas, adaptados a las exigencias logísticas del sector de tanques ISO.",
        svg: "dashboard",
        src: dashboard,
        alt: "Captura de pantalla del panel de gestión intuitivo",
        second: true,
      },
      {
        heading: "Soluciones Integrales",
        content:
          "Desde la consultoría hasta la entrega del equipo, ofrecemos una gama completa de servicios. Puedes contar con nosotros para una ejecución confiable y un soporte duradero.",
        svg: "house",
        src: construction,
        alt: "Estructura metálica de tanque ISO en construcción",
      },
    ]}
  />

  <TestimonialsSection
    title="Nuestras Oficinas"
    subTitle="Tank Global Solutions tiene presencia internacional con oficinas estratégicamente ubicadas en América, Europa y Asia para atender mejor a nuestros clientes globales:"
    testimonials={[
      {
        content:
          "Nuestra red internacional nos permite brindar soluciones eficientes y personalizadas a nivel global, siempre con un enfoque local y cercano al cliente.",
        author: "Samantha Ruiz",
        role: "Directora de Proyectos",
        avatarSrc:
          "https://images.unsplash.com/photo-1593104547489-5cfb3839a3b5?q=80&w=1453&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
      },
    ]}
    statistics={[
      {
        count: "América",
        description:
          "🇺🇸 Estados Unidos (US) 🇲🇽 México (MX) 🇬🇹 Guatemala (GT) 🇪🇨 Ecuador (EC)",
      },
      {
        count: "Europa",
        description:
          "🇳🇱 Países Bajos (NL)",
      },
      {
        count: "Asia",
        description:
          "🇨🇳 China (CH) 🇯🇵 Japón (JP)",
      },
    ]}
  />

  <FAQ title="Preguntas<br />Frecuentes" faqs={faqs} />

  <HeroSectionAlt
    title="Solicitar una cotización"
    subTitle="20 años resolviendo todas tus necesidades de tanques..."
    url="/es/contact"
  />
</MainLayout>
